# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
dashboard/node_modules/
dashboard/*.tsbuildinfo
dashboard/vite.config.js
dashboard/vite.config.d.ts
dashboard/tailwind.config.js
dashboard/tailwind.config.d.ts
